/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  background-color: #ddd;
  color: #333;

  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.main-header {
  width: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 0.8rem 1.6rem;

  font-size: 1.6rem;
  font-weight: 600;
}

main {
  position: relative;

  flex: 1;
  height: 100%;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

#board {
  position: relative;

  width: 100%;
  flex: 1;

  background-image: radial-gradient(#999 1px, transparent 1px);
  background-position: 0 0;
  background-size: 30px 30px;
}

/* Toolbox */
.toolbox {
  width: 100%;
  background-color: #aaa;
  padding: 1.2rem;
  transform: translateY(0);

  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: space-around;

  transition: all 0.4s ease-in-out;
}

.toolbox--hidden {
  transform: translateY(100%);
}

.toolbox__show-btn {
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid #333;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  z-index: 999;
  top: 0;
  left: 50%;
  translate: -50% -100%;

  color: #222;

  transition: background-color 0.2s;
}

.toolbox--hidden .toolbox__show-btn span {
  rotate: 180deg;
}

.toolbox__show-btn:hover {
  cursor: pointer;
  background-color: #ccc;
}

.toolbox__btn {
  background-color: #ccc;
  /* border: 2px solid #333; */
  border: none;
  width: 100px;
  height: 100px;
  font-family: inherit;
  text-transform: capitalize;
  flex: 0 2 100px;

  transition: all 0.3s;
}

.toolbox__btn:hover {
  cursor: pointer;
  background-color: #888;
}

/* Shape */
.shape {
  position: absolute;
  left: 0;
  top: 0;
}

.shape__element {
  background-color: #ccc;
  border: 2px solid #333;
  width: 100px;
  height: 100px;

  resize: both;
  overflow: auto;
  cursor: move;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shape.dragging {
  opacity: 0.5;
}

.shape:hover .shape__controls,
.shape:hover .anchor-btn {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.circle {
  border-radius: 50%;
}

/* Controls */
.shape__controls {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  z-index: 9999;

  display: flex;
  gap: 6px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.shape__controls button {
  background: none;
  border: none;
  color: #333;
  transition: all 0.3s;
}

.shape__controls button:hover {
  cursor: pointer;
  color: #222;
  transform: scale(1.2);
}

.shape__input {
  width: 100%;
  height: 100%;
}

.shape__text {
  font-size: 1.4rem;
  font-weight: 600;
  width: 100%;
  word-wrap: break-word;
  text-align: center;
}

/* anchors */

.anchor-btn {
  width: 2.4rem;
  height: 2.4rem;
  color: #222;
  border: 1px solid #333;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  transition: all 0.3s;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.anchor-btn:hover {
  cursor: pointer;
  background-color: #bbb;
}

.anchor-left {
  left: 0;
  top: 50%;

  transform: translate(-50%, -50%);
}

.anchor-right {
  right: 0;
  top: 50%;

  transform: translate(50%, -50%);
}

/* lines */
.line {
  height: 5px;
  background-color: #222;
  border-radius: 10rem;

  transform-origin: left;

  position: absolute;
  z-index: 999;
}

.line:hover {
  cursor: pointer;
  background-color: #777;
}
